# --- .NET / C# ---
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- Visual Studio ---
.vs/

# --- Godot ---
.godot/
.import/
.export/
export.cfg
export_presets.cfg

# --- Godot C# ---
*.mono/
*.dll
